# Python files
__pycache__/
**/.pytest_cache
*.pyc
.venv/
.venv-ci/
.ruff_cache
.coverage

# Pants workspace files
/.pants.d/
/dist
**/.pids
/.pants.workdir.file_lock*

# Editors
.idea/
*.iml

# docs
site
.cache
docs/
